@using Model
@inject IJSRuntime JS;

<span class="key" @onmousedown="Attack" @onmouseup="Release">@BuildKey()</span>

@code {
    [Parameter]
    public Note note { get; set; }
    [Parameter]
    public EventCallback<Note> PlayedNote { get; set; }
    [JSInvokable]
    private async Task PlayNote()
    {
        if (note.IsValid())
        {
            await JS.InvokeVoidAsync("PianoLib.playNote", BuildKey());
            await PlayedNote.InvokeAsync(note);
            // StateHasChanged();
        }
    }

    private async Task Attack()
    {
        await JS.InvokeVoidAsync("PianoLib.attack", BuildKey());
        await PlayedNote.InvokeAsync(note);
    }

    private async Task Release()
    {
        await JS.InvokeVoidAsync("PianoLib.release", BuildKey());
    }

    private string BuildKey() => note.Name + note.Octave.Number;
}