@using Model
@inject PianoGateway Piano;
@inject PianoService Service;
@implements IDisposable

<span class="@keyCss" @onmousedown="Attack" @onmouseup="Release">
    @if (showUsername)
    {
        <span class="key-username key-username-color @usernameCss @fadeCss">
            <i class="arrow up"></i>
            @username
        </span>
    }
    @BuildKey()
</span>

<style>
    .key-username-color {
        color: @usernameColor;
        font-weight: bold;
    }
</style>
@code {
    [Parameter]
    public Note note { get; set; }
    [Parameter]
    public EventCallback<Note> PlayedNote { get; set; }

    [Parameter]
    public EventCallback<Note> AttackedNote { get; set; }
    [Parameter]
    public EventCallback<Note> ReleasedNote { get; set; }

    private string keyCss = "key";
    private string username = "";
    private string usernameCss = "";
    private string usernameColor = "";
    private bool showUsername = false;
    private string fadeCss = "";

    [JSInvokable]
    private async Task PlayNote()
    {
        if (note.IsValid())
        {
            await Piano.PlayNote(BuildKey());

            // StateHasChanged();
        }
    }

    private async Task Attack()
    {
        await Piano.AttackNote(BuildKey());

        await AttackedNote.InvokeAsync(note);
    }

    private async Task Release()
    {
        await Piano.ReleaseNote(BuildKey());

        await ReleasedNote.InvokeAsync(note);
    }

    // For now this method has to stay to support the MIDI controller
    private async Task ShouldPlayNote(Note noteToPlay)
    {        
        if (IsThisNote(noteToPlay))
        {
            showUsername = false;
            await InvokeAsync(StateHasChanged);

            await PlayNote();
            await PlayedNote.InvokeAsync(noteToPlay);

            if (noteToPlay is NotifiedNote)
            {
                var notifiedNote = noteToPlay as NotifiedNote;
                username = notifiedNote.Username;
                usernameColor = notifiedNote.Color;
                fadeCss = "fade-in-out";

                showUsername = true;
            }
            else
            {
                keyCss = "key " +
                    (keyCss.Contains("key-played-odd") ? "key-played-even" : " key-played-odd");
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task ShouldAttackNote(Note noteToPlay)
    {
        if (IsThisNote(noteToPlay))
        {
            showUsername = false;
            await InvokeAsync(StateHasChanged);

            await Piano.AttackNote(BuildKey());

            if (noteToPlay is NotifiedNote)
            {
                var notifiedNote = noteToPlay as NotifiedNote;
                username = notifiedNote.Username;
                usernameColor = notifiedNote.Color;
                
                fadeCss = "fade-in";

                showUsername = true;
            }
            else
            {
                keyCss = "key " +
                    (keyCss.Contains("key-played-odd") ? "key-played-even" : " key-played-odd");
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task ShouldReleaseNote(Note noteToPlay)
    {
        if (IsThisNote(noteToPlay))
        {
            fadeCss = "fade-out";
            await InvokeAsync(StateHasChanged);

            await Piano.ReleaseNote(BuildKey());

            await InvokeAsync(StateHasChanged);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            Service.OnPlayNote += async (_note) =>
            await ShouldPlayNote(_note);

            Service.OnAttackNote += async (_note) =>
            await ShouldAttackNote(_note);

            Service.OnReleaseNote += async (_note) =>
            await ShouldReleaseNote(_note);
        });
    }

    public void Dispose()
    {
        Service.OnPlayNote -= async (_note) =>
            await ShouldPlayNote(_note);

        Service.OnAttackNote -= async (_note) =>
            await ShouldAttackNote(_note);

        Service.OnReleaseNote -= async (_note) =>
            await ShouldReleaseNote(_note);
    }

    private string BuildKey() => note.Name + note.Octave.Number;

    private bool IsThisNote(Note noteToPlay) => note.Equals(noteToPlay);
}