@using Model
@inject IJSRuntime JS;

<span class="key" @onclick="PlayNote">@note.Name</span>

@code {
    [Parameter]
    public Key note { get; set; }
    private async Task PlayNote()
    {
        if (note.IsValid())
            await JS.InvokeVoidAsync("PianoLib.playNote", note.Name);
    }
}