@inject PianoGateway Piano;
@inject IJSRuntime JS;

<button type="button" class="btn btn-secondary" @onclick="Init">Init</button>
<div>
    @message
</div>
@code {
    public string message = "";

    [JSInvokable]
    private async Task Init()
    {
        var dotNetReference = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("PianoLib.initMidi", dotNetReference);
    }

    [JSInvokable("Log")]
    public void Log(string mex)
    {
        message = mex;
        StateHasChanged();
    }

}