@using Model
@inject Services.PianoGateway Piano;
@inject Services.PianoService Service;
@inject Services.PlayerService PlayerService;
@inject Services.ConnectedPlayersService PlayersService;
@inject Services.BrowserResizeService BrowserResize;
@implements IDisposable

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <span class="mode-switch">
        <button type="button" class="btn btn-secondary" disabled=@synthButtonDisabled
                @onclick="SwitchToSynth">
            Synth
        </button>
        <button type="button" class="btn btn-secondary" disabled=@pianoButtonDisabled
                @onclick="SwitchToPiano">
            Piano
        </button>
    </span>
    <span class="midi-switch">
        <MIDIComponent PlayedNote="((note)=> PlayANote(note))"></MIDIComponent>
    </span>
</nav>

<section class="piano-keyboard">
    @for (int i = startingOctave; i < startingOctave + nOctaves; i++)
    {
        <OctaveComponent PlayedNote="((note) => PlayedNote(note))"
                     AttackedNote="((note) => AttackedNote(note))"
                     ReleasedNote="((note) => ReleasedNote(note))"
                     octaveNumber="@BuildOctave(i)">
        </OctaveComponent>
    }
</section>
<section class="notifications">
    <Notifications @ref="NotificationComponent"
                   NoteReceived="((note)=> PlayANotifiedNote(note))"
                   AttackNoteReceived="((note)=> AttackANotifiedNote(note))"
                   ReleaseNoteReceived="((note)=> ReleaseANotifiedNote(note))"                   
                   Connected="(e)=>OnConnected(e)"
                   Disconnected="()=>OnDisconnected()"
                   />   
</section>

@if (playedNotes.Any())
{
    <section class="played-notes">

        <button type="button" class="btn btn-secondary" @onclick="Reset">Reset</button>

        <div class="played-notes-container">
            @foreach (var note in playedNotes)
            {
                <button title="@(note is NotifiedNote ? (note as NotifiedNote).Username : "you") played"
                class="btn btn-dark"
                @onclick="()=>PlayANote(BuildReplayNote(note))">
                    <span class="played-note" style="color:@(note is NotifiedNote ? (note as NotifiedNote).Color : "" )">
                        @($"{note.Name}{note.Octave.Number}")
                    </span>
                </button>
            }
        </div>
    </section>
}

@code {
    private Stack<Note> playedNotes = new Stack<Note>();
    private Octave octave = new Octave(1);
    private int startingOctave = 2;
    private int nOctaves = 6;
    private bool pianoButtonDisabled = true;
    private bool synthButtonDisabled = false;

    private Notifications NotificationComponent;

    private bool isConnected = false;

    protected override async Task OnInitializedAsync()
    {
        await Init();
        Service.OnPlayNote += (_note) => StateHasChanged();
        Service.OnAttackNote += (note) => StateHasChanged();
        Service.OnReleaseNote += (note) => StateHasChanged();

        BrowserResize.Init();

        BrowserResize.OnPianoResize += (c, s) => OnResize(s);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            OnResize(await BrowserResize.GetPianoSize());
        }
    }

    private void OnResize(Services.BrowserResizeService.PianoSize size)
    {
        startingOctave = size.startingOctave;
        nOctaves = size.nOctaves;

        StateHasChanged();
    }

    private void OnConnected(PlayerInfo connectedPlayer)
    {
        isConnected = true;        
    }

    private void OnDisconnected()
    {
        isConnected = false;        
    }

    private async Task AttackANotifiedNote(NotifiedNote note)
    {
        Service.OnAttackNote(note);

        await AttackedNote(note);
    }
    private async Task ReleaseANotifiedNote(NotifiedNote note)
    {
        Service.OnReleaseNote(note);

        await ReleasedNote(note);
    }

    private void PlayANotifiedNote(NotifiedNote note)
    {
        Service.OnPlayNote(note);
    }

    private void PlayANote(Note note)
    {
        Service.OnPlayNote(note);
    }

    private async Task AttackedNote(Note note)
    {
        if (note is not ReplayNote)
        {        
            playedNotes.Push(note);
        }

        if (ShouldNotify(note))
        {
            await NotificationComponent.NotifyAttackNote(note);
        }
    }

    private async Task ReleasedNote(Note note)
    {
        if (ShouldNotify(note))
        {
            await NotificationComponent.NotifyReleaseNote(note);
        }
    }

    private Octave BuildOctave(int number) => new Octave(number);

    private async Task PlayedNote(Note note)
    {
        if (note is not ReplayNote)
        {
            playedNotes.Push(note);
        }

        if (ShouldNotify(note))
        {
            await NotificationComponent.NotifyNote(note);
        }
    }

    private bool ShouldNotify(Note note) =>    
        note is not ReplayNote && note is not NotifiedNote && isConnected && NotificationComponent is not null;    

    private ReplayNote BuildReplayNote(Note note)
    {
        return new ReplayNote(note.Kind, note.Name, note.Octave);
    }

    private async Task SwitchToPiano()
    {
        await Piano.SwitchToPiano();
        pianoButtonDisabled = true;
        synthButtonDisabled = false;
    }

    private async Task SwitchToSynth()
    {
        await Piano.SwitchToSinth();
        synthButtonDisabled = true;
        pianoButtonDisabled = false;
    } 

    private async Task Init()
    {
        await SwitchToPiano();
    }

    private void Reset() => playedNotes = new Stack<Note>();

    public void Dispose()
    {
        Service.OnPlayNote -= (note) => StateHasChanged();
        Service.OnAttackNote -= (note) => StateHasChanged();
        Service.OnReleaseNote -= (note) => StateHasChanged();

        BrowserResize.OnPianoResize -= (c, s) => OnResize(s);
    }
}