.navbar {
    justify-content: space-between;
}

    .navbar button {
        margin-right: 1rem;
    }

.played-notes {
    padding: 1rem 0;
}

.piano-keyboard {
    text-align: center;
}

.played-notes-container {
    padding-top: 1rem;
    
}
    .played-notes-container button{
        margin: 0.125rem;
    }

    .played-note {
        padding: 0.25rem;
        font-weight: bold;
    }
